
.variableTooltip {
    padding: 5px;
    position: absolute;
    display: block;
    background: white;
    border: 1px solid #DDD;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    min-width: 150px;
    max-width: 500px;
    width: 90%;
    padding-right: 0px;
    z-index: 601;
}

.-sew-list-container {
	background: white;
    border: 1px solid #DDD;
	border-radius: 3px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	min-width: 180px;
    z-index: 602;
}

.-sew-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.-sew-list-item {
	display: block;
	padding: 5px 10px;
	border-bottom: 1px solid #DDD;
}

.-sew-list-item small {
	color: #afafaf;
}

.-sew-list-item.selected {
	color: white;
    background: #326CA6;
	text-decoration: none;
}

.variable-usage-link {
    vertical-align: text-top;
}

.indicator {
    padding-left: 5px;
}

.loading-indicator {
    background: url("images/ajax-loader.gif") no-repeat;
    height: 60px;
    width: 60px;
    left: 50%;
    margin: -20px 0 0 -20px;
    position: absolute;
    top: 50%;
}

.variable-info {
    padding-left: 5px;
}